@keyframes fade {
    10% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #2dd4bf,
        0 0 16px #2dd4bf;
    }
  
    20% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #2dd4bf,
        0 0 16px #2dd4bf;
    }
  
    40% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #2dd4bf,
        0 0 16px #7ce900; 
    }
    50% {
      text-shadow:none
    }
    60% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #7ce900,
        0 0 16px #7ce900;
    }
    60% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #2dd4bf,
        0 0 16px #7ce900;
    }
    100% {
      text-shadow:
        0 0 2px #2dd4bf,
        0 0 4px #2dd4bf,
        0 0 8px #2dd4bf,
        0 0 12px #2dd4bf,
        0 0 16px #2dd4bf;
    }
  }

  @keyframes down-tx {
    0% {
      top: 15%;
    }
    100% {
      top: 43%;
    }
  }
  @keyframes up-tx {
    0% {
      top: 43%;
    }
  
    100% {
      top: 15%;
    }
  }

  @keyframes down-info {
    0% {
      top: -70%;
    }
  
    100% {
      top: 40%;
    }
  }
  @keyframes up-info {
    0% {
      top: 40%;
    }
  
    100% {
      top: -70%;
    }
  }
  
  @keyframes noise {
    0%, 100% {
      background-position: 0 0, 0 0;
    }
    50% {
      background-position: 10px 10px, 8px -8px;
    }
  }
  