.section-hover img {
  @apply opacity-10;
}

.section-hover:hover img {
  @apply opacity-40;
}

.section-hover:hover p.animate-link {
  animation: down-tx .2s forwards;
}

.section-hover:not(:hover) p.animate-link {
  animation: up-tx .2s forwards;
}

.section-hover:hover p.animate-info {
  animation: down-info .2s forwards;
}

.section-hover:not(:hover) p.animate-info {
  animation: up-info .2s forwards;
}

.hero-container {
  @apply grid grid-cols-4 gap-6 w-full text-center p-10 sm:text-2xl text-3xl lg:text-5xl;
}

.hero-card {
  @apply justify-center items-center relative border border-green-300 overflow-hidden;
  height: 26vw;
}

.hero-text{
  @apply absolute text-teal-300 ff-text f-shadow left-1/2 -translate-x-1/2 uppercase;
  top: 15%;
}

.hero-info{
  @apply absolute text-teal-300 px-4 ff-text f-shadow left-2 uppercase text-lg;
  top: -70%;
}